* {
    box-sizing: border-box;
}

body {
    font-family: Inter,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

nav {
    margin: auto;
    max-width: 1600px;
    border-style: solid;
    border-color: rgb(231 231 239 / 1);
    border-width: 0px;
    border-bottom-width: 1px;
}

#nav__container {
    display: inline-flex;
}

.nav__main {
    display: inline-flex;
}

#nav-right {
    justify-content: right;
}

.nav__item {
    padding: 0.5rem 1rem;
    margin: 10px;
    font-weight: 500;
}

.nav__item--down-arrow {
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    padding-top: 2px;
    padding-left: 0.1rem;
}

.nav__item--expend {
    flex-direction: column;
    justify-content: center;
}

.nav__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    margin: 10px;
    border-radius: 0.5rem;
}

.nav__button:hover {
    background-color: #f2f2f2;
}

/* Chọn các nút <button> có class là .nav__button
 * - bg-color: trong suốt
 * - border: không
 */
button.nav__button {
    background-color: transparent;
    border: none;
}

/*
 * Chọn logo của remnote
 * - để margin-right  thật lớn, kết hợp với max-width của nav
 * tạo ra kết qua là nav sẽ nằm sát qua bên phải
 */
#remnote-logo {
    text-decoration-line: none;
    margin-right: 300px;
}

#items-box {
}

#product {

}

#go-to-app {

}

/* Chọn nút màu xanh dương
 * - Bo góc
 * - ẩn đường viền
 */
.btn--blue {
    color: white;
    background-color: #3668FF;
    margin: 10px;
    border-radius: 0.5rem;
    border: none;
}
.btn--blue:hover {
    background-color: #2156DB;
}
.btn--nav {
    padding-left: 1rem;
    padding-right: 1rem;
}

.inline-flex {
    display: inline-flex !important;
}

.inline-block {
    display: inline-block !important;
}

/* Dòng chữ
 * The all-in-one tool for
    thinking and learning
 */
#section-1 h1 {
    line-height: 150%;
    font-size: 2rem;
    font-family: InterDisplay, Inter, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, sans-serif;
}

#main__title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 64px;
}

#main__text-below {
    color: transparent;
    background-clip: text !important;
    background: linear-gradient(270deg,#db59ff 8.88%,#6870de 52.13%,#2ecae6 86.08%);
}