#archnavbar {
    min-height: 40px!important;
    padding: 10px 15px!important;
    background: #333;
    border-bottom: 5px #08c solid!important;
}

/* Logo của web này, hiện logo bằng background */
#archnavbarlogo {
    float: left;
    height: 40px;
    width: 190px;
    background: url(https://archlinux.org/static/archnavbar/archlogo.8a05bc7f6cd1.svg)
                no-repeat;
    background-size: 100%;
}

/* Ẩn phần chữ của h1 trong archnavbarlogo - SEO */
#archnavbarlogo h1 {
    text-indent: -9999px;
}

/* Toàn bộ div chứa các item của menu*/
#archnavbarmenu {
    margin: 0;
    padding: 0;
    list-style: none;
}

#archnavbarlist {
    display: block;
    text-align: right;
}

#archnavbarlist li {
    display : inline-block;
    font-family : sans-serif;
    font-size: 14px;
    padding: 14px 15px 0;
}

#archnavbarlist li a {
    color: #999;
    font-weight: bold;
    text-decoration: none;
}


/* MAIN CONTENT */

/* Introduction */
#intro {
    margin-bottom: 1.5rem;
    padding: .65rem;
    background: #ecf2f5;
    border: 1px solid #bcd;
}

/* News */

/* Footer */
#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    line-height: 0;
    text-align: center;
}