body {
    background-color: #65b0e7;
}

/* Cho h1 nằm giữa và Uppercase*/
h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: Helvetica;
    font-weight: 600;
}

#box {
    width: 75%;
    height: auto;
    background: #bbdfe8;
    margin : auto;
    position: fixed;
    left: 1%;
    top: 10%;
    bottom: 1%;
    right: 1%;

    /* Border của hộm bao quanh các menu-item*/
    border-radius: 30px;
    box-shadow: 0 0 10px #000;

    transition: all 0.5s ease;
}

#box li {
    list-style: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px #000;
    transition: all 0.5s ease;
}

/* Dùng để tạo grid layout*/
#box-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: start;
}

.box-item {
    width: 250px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    margin: 10px;
}

.box-item a {
    display: block;

    /* Điều chỉnh text*/
    text-transform: uppercase;
    text-decoration: none;

    color: #000;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
    transition: all 0.5s ease;
}

.box-item:hover {
    transform: scale(1.1);
}

#archlinux {
    overflow: hidden;
    background-size: contain;
}

#archlinux:hover {
    background: url(https://archlinux.org/static/archnavbar/archlogo.8a05bc7f6cd1.svg) no-repeat !important;
    background-size: contain !important;

    /* Ẩn chữ Arch Linux*/
    text-indent: -500%;
    overflow: hidden
}

#remnote {
    overflow: hidden;
}

#remnote:hover {
    background: url(https://www.remnote.com/assets/homepage/images/logoText.svg) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    /* Ẩn chữ RemNote*/
    text-indent: -500%;
    overflow: hidden
}

/* Responsive */
@media (max-width: 1200px) {
    #box-grid {
        grid-template-columns: 1fr 1fr;
        align-content: start;
    }
}

/* Hiện trên màn hình điện thoại */
